:root {
  --text-color: #333;
  --background-color: #f3f3f3;
  --button-bg-color: #000;
  --note-bg-color: #ffd8b5;
  --modal-bg-color: #fefefe;
  --border-color: #888;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid black;
}

.search {
  display: flex;
}

.search-box {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  border: black solid 0.125rem;
  width: 12.5rem;
  height: 2.125rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  background-color: var(--button-bg-color);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555; /* Example hover color */
}

#new-note-button {
  width: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
}

.heading p {
  font-size: larger;
  font-weight: bold;
  margin-right: 0.5rem;
}

.notes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.note {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 200px;
  min-height: 200px;
  background-color: var(--note-bg-color);
  border-radius: 8px;
  overflow-wrap: break-word; /* Ensures text wraps properly */
}

img {
  width: 24px;
  height: 24px;
}

.modal {
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.note-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--modal-bg-color);
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px; /* Rounded corners */
  width: 90%;
  max-width: 500px; /* Maximum width for larger screens */
  margin: 50% auto; /* Center the modal */
}

:root {
  --margin-bottom: 1rem;
  --padding: 0.5rem;
  --font-size: 1rem;
}

.note-form input,
.note-form textarea {
  width: 100%;
  margin-bottom: var(--margin-bottom);
  padding: var(--padding);
  border-radius: 5px;
  font-size: var(--font-size);
  border: none;
  box-sizing: border-box;
}

.note-form input:focus,
.note-form textarea:focus {
  outline: none;
}

.note-form input {
  font-weight: bold;
  font-size: 1.5rem;
}

.note-form textarea {
  height: 150px; /* Increase the height of the textarea */
}

.note-form button {
  background-color: var(--button-bg-color);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}
